body{
        
}

.calculator-value{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.calculator{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  width:350px;
  align-content: center;
  padding: 20px 10px;
}

.button-shape{
  font-size: 28px;
  font-weight: 600;
  border-radius: 50%;
  height:65px;
  width:65px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
}

.zero-button-shape{
  font-size: 28px;
  font-weight: 600;
  border-radius: 65px;
  height:65px;
  width:143px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
}

.math-button{
  background-color: rgb(255, 157, 0);
  color: white;
  transition: background-color 0.5s ease;
}

.math-button:hover{
  background-color: #FFD580;
  color: white;
}

.number-button{
  background-color: #303434e6;
  color: white;
  transition: background-color 0.5s ease;
}

.number-button:hover{
  background-color: #7d7e7ee6;
}

.number-button:active{
  background-color: #303434e6;
}

.op-button{
  background-color: #c6c6c6dd;
  color: black;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.op-button:hover{
  background-color: #D3D3D3;
}

.math-sign-pressed{
  background-color: white;
  color: rgb(255, 157, 0);
}
